<h1>Welcome to CHITTER</h1>
<h2>In order to use CHITTER you have to sign in!</h2>
<form action="/name" method="post">
  Enter your first name</br><input type="text" name="first_name"></br></br>
  Enter your last name</br><input type="text" name="last_name"></br></br>
  Enter your user name</br><input type="text" name="user_name"></br></br>
  Enter your email address</br><input type="text" name="email"></br></br>
  Enter your password</br><input type="text" name="password"></br></br>
  <input type="submit" value="SUBMIT">
</form>