<h1>Welcome to CHITTER</h1>
<h2>Please sign in using your user name and password</h2>
<form action="/log_in" method="post">
  </br><input type="text" name="user_name" value="User Name"></br></br>
  </br><input type="text" name="password" value="Password"></br></br>
  <input type="submit" value="LOG IN">
</form>